pelican[markdown]==4.9.1
beautifulsoup4==4.12.2
feedparser==6.0.10
requests==2.31.0
python-dateutil==2.8.2
Pillow==10.0.1
webassets==2.0
cssmin==0.2.0
jsmin==3.0.1
typogrify==2.0.7
pelican-neighbors==1.2.0
pelican-sitemap==1.1.0
invoke==2.2.0
markdownify==0.12.1
